<h1> Welcome to the Mad Lib Lab! </h1>
<h3> We need some information from you before we can continue: </h3>
<form action='/mad_lib_answers' method='get'>
	<% @inputs.each do |input| %>
		<%= input['part_of_speech'] %>: <input type='text' name=<%= @counter += 1 %> />
		<br />
	<% end %>

	<input type='hidden' value=<%= @mad_lib_name %> name='mad_lib_name' />

	<input type='submit' value='Submit'>
</form>